./guzzle/.phpunit.cache
/guzzle/node_modules
/guzzle/public/build
/guzzle/public/hot
/guzzle/public/storage
/guzzle/storage/*.key
/guzzle/vendor
/guzzle/.env
/guzzle/.env.backup
/guzzle/.env.production
/guzzle/.phpunit.result.cache
/guzzle/Homestead.json
/guzzle/Homestead.yaml
/guzzle/auth.json
/guzzle/npm-debug.log
/guzzle/yarn-error.log
/guzzle/.fleet
/guzzle/.idea
/guzzle/.vscode
